body{
    margin:0;
    padding:0;
    
}
.no-float{
    clear:both;
}

/*Menubar*/
#anime-logo{
    position:relative;
    width:170px;
    height:150px;
    float:left;
    left:380px;
    top:-10px;
}

#menubar{
    width:200%;
    max-width:1200px;
    margin:0 auto;
   
   
    
    
}

#menubar h1{
    font-family:'chicle';
    text-align:center;
    font-size:60px;
    position:relative;
    float:left;
    left:360px;
    top:20px;
}

#menubar a{
    text-decoration:none;
    color:white;
    background-color:#000000;
    font-size:40px;
    font-family:'tangerine';
    margin-right:80px;
    padding:0 10px 0 5px;
   
    
    
}

#menubar a:hover{
    color:#f3baa5;
}

#menubar .current{
    color:#f3baa5;
}

.menubar-options{
    border-bottom:1px #a6a6a6 solid;
    padding-left:210px;
    padding-top:20px;
    
    
    
}

/*Main-Article*/
#main-article{
    width:1200px;
    margin:0 auto;
    position:relative;
    padding-left:200px;
    padding-top:15px;
    border-bottom:1px #a6a6a6 solid;
}

#hanebado-logo{
    width:1070px;
    height:500px;
   
}

#main-article a{
    text-decoration:none;
    color:#262626;
    font-family:'syncopate';
}

#main-article a:hover{
    color:#a6a6a6;
    
    
}

#main-article p{
    font-size:20px;
    max-width:1070px;
    font-family:'IBM Plex Mono';
}

.read-more{
    font-size:20px;
}

/*Main-news-container*/

#main-news-container{
    width:200%;
    max-width:1200px;
    margin:0 auto;
    padding-left:200px;
    padding-top:10px;
    
    
}

.main-news{
    float:left;
    padding-top:10px;
    border-right:1px #b3b3b3 solid;
}

.main-news a{
    text-decoration:none;
    font-family:'syncopate';
    color:#262626;
    font-size:20px;
    font-weight:bold;
    float:left;
    max-width:700px;
    
}

.main-news a:hover{
    color:#b3b3b3;
}

.main-news p{
    font-family:'IBM Plex Mono';
    font-size:15px;
    max-width:800px;
    padding-top:40px;
    
}



#main-news-container .read-more-2{
    font-size:18px;
    font-family:'IBX Plex Mono';
    font-weight:normal;
    text-decoration:underline;
   
}
/*Footer*/
#footer-container{
    margin:0 auto;
    width:200%;
    background-color:black;
    width:1800px;
    color:white;
    height:300px;
    
}
.footer-options{
    float:left;
    padding-left:300px;
    
    
    
}

#footer-title{
    padding-left:40px;
}



.footer-options ul{
    list-style:none;
    float:left;
    
}
.footer-options ul li{
    padding-top:10px;
}

.footer-options a{
    text-decoration:none;
    color:white;
    font-family:'IBM Plex mono';
    font-size:12px;
}
.footer-options a:hover{
    color:#f3baa5;
}
.footer-options h3{
    font-family:'IBM Plex Mono';
}
.footer-options ul li{
    border-left:1px white solid;
    padding-left:10px;
}










